{% extends 'public/layout/layout.twig' %}
{% block content %}
    <style>
        .post-list-item {
            background-color: #fff;
            position: relative;
            border: 1px solid rgba(0,0,0,.06);
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 28px;
            padding: 20px;
        }
    </style>

    <section id="posts-list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    {% for post in posts %}

                        <div class="post post-list-item">
                            <div class="row">
                                <div class="col-md-8 title">
                                    <a href="/post/{{ post.id }}">{{ post.title }}</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-sm-12 text-right col-md-12">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                                    <div class="col-sm-12 text-right col-md-12"> {{ post.created_at|slice(0, 10) }} <br></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% set text_header = post.body|split("--break--")[0] %}
                                    {{ parsedown(text_header)|raw }}
                                </div>
                            </div>
                            <div class="row">
                                {% for tag in post.tags %}

                                    <a class="tag" href="/tag/{{ tag.id }}">{{ tag.title }}</a>

                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}

                    <div class="row">
                        <div class="col-md-12">
                            {% if posts.lastPage > 1 %}
                                <nav class="text-center" aria-label="...">
                                    <ul class="pagination">
                                        <li class="{% if posts.currentPage == 1 %}disabled{% endif %}"><a
                                                    href="{% if posts.currentPage != 1 %}?page={{ posts.currentPage-1 }}{% endif %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        {% for index, page in 1..posts.lastPage %}
                                            <li class="{% if posts.currentPage == index+1 %}active{% endif %}"><a
                                                        href="?page={{ index+1 }}">{{ index+1 }}<span
                                                            class="sr-only"></span></a></li>
                                        {% endfor %}
                                        <li class="{% if posts.currentPage == posts.lastPage %}disabled{% endif %}"><a
                                                    href="{% if posts.currentPage != posts.lastPage %}?page={{ posts.currentPage+1 }}{% endif %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </section>



{% endblock %}