{% extends 'public/layout/layout.twig' %}
{% block title %}{{ post.meta_title }}{% endblock %}
{% block content %}

    <div class="col-sm-12 col-md-9" id="content">
        <div class="post">
            <div class="row">
                <div class="col-md-8">
                    <div style="font-size: 24px; font-weight: bold">{{ post.title }}</div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 text-left small">Опубликовано: {{ post.created_at|slice(0, 10) }} </div>
                    <div class="col-sm-12 text-left small">Автор: {{ post.user.first_name }} {{ post.user.last_name }} </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-left small"> - </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% set text = post.body|replace({'--break--': ''}) %}
                    {{ parsedown(text)|raw }}
                </div>
            </div>
            <div class="row" style="margin-left: -5px">
                {% for tag in post.tags %}
                    <a class="tag" href="/tag/{{ tag.id }}">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}