{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Категория</h1>
                <div class="inline"> <a href="{{ path_for('category.showAdminCategoryList') }}">все категории</a> </div>
                <hr class="aky">
            </div>
        </div>
        <form
            method="post"
            name="login_form"
            {% if category.id %}
            action="{{ path_for('category.updateCategory', {'id': category.id}) }}"
            {% else %}
            action="{{ path_for('category.createCategory') }}"
            {% endif %}
        >
            <div class="row">

                <div class="col-md-12" style="display: flex; justify-content: center;">

                    <div class="form col-md-6" style="display: flex; justify-content: center; flex-wrap: wrap;">

                        <div class="col-md-12">
<div class="row">
<label for="title-input">Заголовок</label>
<input id="title-input" type="text" class="form-control" name="category[title]" value="{{ category.title }}">
</div>


                </div>

            </div>

        </div>

    </div>
    <div class="row" style="margin-top: 15px; display: flex; justify-content: center; flex-wrap: wrap;">
        <div class="col-md-4" style="text-align: center;">
            <button class="blue-button inline" type="submit">Сохранить</button>
        </div>

        {% if category.id %}
        <div class="col-md-4" style="text-align: center;">
            <button id="delete-user" class="red-button inline" type="button">Удалить категорию</button>
        </div>
        {% endif %}
    </div>

    </form>

    <form id="frm-del-user" action="{{ path_for('category.deleteCategory', {'id': category.id}) }}" method="get">
    </form>

    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">

    $(function() {
        $('#delete-user').click(function() {
            if (confirm('Удалить?')) {
                $('#frm-del-user').submit();
            }
        });
    });

    $(function() {
        var getFlatpickr = function() {
            return $('.flatpickr').flatpickr({
                locale: "ru",
                altFormat: 'j F Y',
                altInput: true
            });
        }

        var flatpickr = getFlatpickr();

        $('#mcm').on('shown.bs.modal', function () {
            var date = $('.flatpickr').val();
            flatpickr.destroy();
            flatpickr = getFlatpickr();
            flatpickr.setDate(date);
        });
    });
</script>
{% endblock %}