{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Категории постов</h1>
                <div class="inline"> <a href="{{ path_for('category.showAdminCategoryAdd') }}"> + новая категория</a></div>
                <hr class="aky">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <table class="table leads table-striped">
                    <thead>
                    <tr>
<th>id</th>
<th>Заголовок</th>
</tr>
</thead>
<tbody>
{% set i = 1 %}
{% for category in categorys %}
    <tr onclick="document.location = '{{ path_for('category.showAdminCategoryEdit', {'id':category.id}) }}';" style="cursor: pointer">
<td>{{ category.id}}</td>
<td>{{ category.title}}</td>
</tr>
{% set i = i+1 %}
{% endfor %}
</tbody>
</table>
</div>

</div>
</div>
<!-- /#page-content-wrapper -->
{% endblock %}