@font-face {
    font-family: 'MuseoThin';
    src: url('/assets/public/fonts/museo/MuseoThin.eot');
    src: url('/assets/public/fonts/museo/MuseoThin.woff') format('woff'), url('/assets/fonts/museo/MuseoThin.ttf') format('truetype'), url('/assets/fonts/museo/MuseoThin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSemithin';
    src: url('/assets/public/fonts/museo/MuseoSemithin.eot');
    src: url('/assets/public/fonts/museo/MuseoSemithin.woff') format('woff'), url('/assets/fonts/museo/MuseoSemithin.ttf') format('truetype'), url('/assets/fonts/museo/MuseoSemithin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoRegular';
    src: url('/assets/public/fonts/museo/MuseoRegular.eot');
    src: url('/assets/public/fonts/museo/MuseoRegular.woff') format('woff'), url('/assets/fonts/museo/MuseoRegular.ttf') format('truetype'), url('/assets/fonts/museo/MuseoRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoBold';
    src: url('/assets/public/fonts/museo/MuseoBold.eot');
    src: url('/assets/public/fonts/museo/MuseoBold.woff') format('woff'), url('/assets/fonts/museo/MuseoBold.ttf') format('truetype'), url('/assets/fonts/museo/MuseoBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoExtra';
    src: url('/assets/public/fonts/museo/MuseoExtra.eot');
    src: url('/assets/public/fonts/museo/MuseoExtra.woff') format('woff'), url('/assets/fonts/museo/MuseoExtra.ttf') format('truetype'), url('/assets/fonts/museo/MuseoExtra.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html body {
    background: #f6f9fb;
    font-family: 24px;
    font-family: 'MuseoSemithin';
}
body h2, body h3, body h4, body h5, body h6 {
    font-family: 'MuseoBold';
}
body h1 {
    font-family: 'MuseoExtra';
}
body blockquote {
    border-left: 5px solid #ff6600;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
}

.inline {
    display: inline-block; vertical-align: top;
}
ul {padding: 0;}
li {list-style: none; margin-bottom: 6px; padding: 0 0 0 12px; }
body a {color: #3992d6; cursor: pointer;}
.row img {max-width: 100%;}
.padding-10 {padding: 10px 0;}
.padding-20 {padding: 20px 0;}
.abs100 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
#sidebar .block, #content {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 28px;
    padding: 20px 24px 25px;
}
#sidebar a {
    display: block;
    color: #556066;
    font-size: 16px;
    text-decoration: none;
    line-height: 36px;
}
#sidebar .block-title {
    font-weight: bolder;
    margin: 0 0 20px 0;
}
#sidebar .categories li {padding: 0;}
#sidebar .tags li {
    border-radius: 4px;
    border: 1px solid rgba(184,184,184,.44);
    display: inline-block;
    padding: 0;
}
#sidebar .tags li:hover {border: 1px solid #000;}

#sidebar .tags li a {font-size: 13px; padding: 3px 6px; line-height: 16px;}
section#top-line {
    line-height: 26px;
    background: #201a16;
    padding: 10px 0;
    color: #fff;
}

#top-line .main-nav ul li {
    display: inline-block;
}
#top-line .main-nav ul li a {
    color: #fff;
    font-size: 14px;
    font-family: MuseoBold;
    text-transform: uppercase;
    padding: 0 10px;
}
#top-line .main-nav ul li a:hover {
    color: #f6f9fb;
}
#top-line .main-nav ul {
    text-align: right;
    top: 10px;
    position: relative;
}

.post {
    margin: 10px 0 50px 0;
}
.post .title a {
    font-size: 20px;
    font-family: MuseoBold;
    color: #292923;
}

#ad_image .item {
    margin: 10px 0;
    text-align: center;
}
#post-page h1 {
    font-family: 'MuseoExtra';
    padding-bottom: 15px;
    color: rgb(51, 51, 51);
}
#post-page .small {
    color: #777;
}
#footer {
    background: #201a16;
    min-height: 220px;
    padding: 40px;
    color: rgba(255,255,255,0.4);
}
#footer .wtolk a {
    color: #fff;
    font-family: 'MuseoBold';
    font-style: italic;
}
#footer .text-center {padding: 40px 0;}