* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

aside {
    color: white;
    background-color: #343131;
    height: 100vh;
}

nav {
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav > a {
    text-decoration: none;
    padding: 5px;
    margin: 15px;
    color: white;
    position: relative;
}

nav > a:after {
    content: '';
    display: block;
    width: calc(100% + 10px);
    position: absolute;
    bottom: -3px;
    left: -5px;
    height: 2px;
    background-color: #ccc;
    transition: transform .2s;
    transform: scaleX(0);
}

nav > a:hover {
    text-decoration: none;
    color: #ccc;
}

nav > a:hover::after {
    transition: transform .2s;
    transform: scaleX(1);
}

main {
    background-color: #edf0f2;
    min-height: 100vh !important;
}

main > h1 {
    text-align: center;
}

.posts_wrapper {
    width: 100%;
    padding: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 5px #CCCCCC;
    border-radius: 3px;
}

.post_body {
    width: 100%;
}

.post > span {
    font-size: 1.2em;
    align-self: flex-end;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag {
    display: block;
    margin: 3px;
    border-radius: 5px;
    background-color: #00578d;
    color: white;
    cursor: pointer;
}

.tag > a{
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
}

.full_post {
    min-height: 100vh;
}

.full_post > * {
    width: 100%;
}