{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Меню</h1>
                    <div class="inline"><a href="{{ path_for('navigation.showAdminNavigationList') }}">список меню</a>
                    </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if menu.id %}
                        action="{{ path_for('navigation.updateNavigation', {'id': menu.id}) }}"
                    {% else %}
                        action="{{ path_for('navigation.createNavigation') }}"
                    {% endif %}
            >
                <div class="row">

                    <div class="col-md-4">

                        <div class="form">

                            <div class="col-md-12">
                                <div class="row">
                                    <label for="title-input">Название</label>
                                    <input id="title-input" type="text" class="form-control" name="menu[title]" value="{{ menu.title }}">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-8">

                    </div>

                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-success" type="submit">Сохранить</button>
                            </div>

                            <div class="col-md-1" style="margin-left: 12px">
                                {% if menu.id %}
                                    <a href="{{ path_for('navigation.showAdminNavigationItemList', {'id': menu.id}) }}" id="edit-menu" class="btn btn-warning" type="button">Настроить</a>
                                {% endif %}
                            </div>

                            <div class="col-md-2" style="margin-left: 12px">
                                {% if menu.id %}
                                    <button id="delete-menu" class="btn btn-danger" type="button">Удалить меню</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </form>

            <form id="frm-del-menu" action="{{ path_for('navigation.deleteNavigation', {'id': menu.id}) }}"
                  method="get">
            </form>

        </div>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(function () {
            $('#delete-menu').click(function () {
                if (confirm('Удалить меню?')) {
                    $('#frm-del-menu').submit();
                }
            });
        });

        $(function () {
            var getFlatpickr = function () {
                return $('.flatpickr').flatpickr({
                    locale: "ru",
                    altFormat: 'j F Y',
                    altInput: true
                });
            }

            var flatpickr = getFlatpickr();

            $('#mcm').on('shown.bs.modal', function () {
                var date = $('.flatpickr').val();
                flatpickr.destroy();
                flatpickr = getFlatpickr();
                flatpickr.setDate(date);
            });
        });
    </script>
{% endblock %}