{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Меню</h1>
                <div class="inline"><a href="{{ path_for('navigation.showAdminNavigationAdd') }}">создать меню</a></div>
                <hr class="aky">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <table class="table leads table-striped">

                    <tbody>
                    {% for menu in menu_list %}
                        <tr onclick="document.location = '{{ path_for('navigation.showAdminNavigationEdit', {'id':menu.id}) }}';" style="cursor: pointer">
                            <td>{{ menu.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}