{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Посты</h1>
                <div class="inline"> <a href="{{ path_for('post.showAdminPostAdd') }}"> + новый пост</a></div>
                <hr class="aky">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <table class="table leads table-striped">
                    <thead>
                    <tr>
<th>id</th>
<th>Заголовок</th>
<th>Приватный</th>
<th>Опубликован</th>
<th>Категория</th>
<th>Автор</th>
<th>Дата создания</th>
</tr>
</thead>
<tbody>
{% set i = 1 %}
{% for post in posts %}
    <tr onclick="document.location = '{{ path_for('post.showAdminPostEdit', {'id':post.id}) }}';" style="cursor: pointer">
<td>{{ post.id }}</td>
<td>{{ post.title }}</td>
<td>{% if post.is_private == 1 %} <i class="fa fa-check" style="font-size: 20px;"></i> {% endif %}</td>
<td>{% if post.is_published == 1 %} <i class="fa fa-check" style="font-size: 20px;"></i> {% endif %}</td>
<td>{{ post.category.title}}</td>
<td>{{ post.user.first_name }} {{ post.user.last_name }}</td>
<td>{{ post.created_at}}</td>
</tr>
{% set i = i+1 %}
{% endfor %}
</tbody>
</table>
</div>

</div>
</div>
<!-- /#page-content-wrapper -->
{% endblock %}