{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="inline project-name">Пост</h1>
                <div class="inline"><a href="{{ path_for('post.showAdminPostList') }}">все посты</a></div>
                <h3 style="text-align: center;">Автор: {{ post.user.first_name }} {{ post.user.last_name }}</h3>
                <hr class="aky">
            </div>
        </div>
        <form
            method="post"
            name="login_form"
            {% if post.id %}
            action="{{ path_for('post.updatePost', {'id': post.id}) }}"
            {% else %}
            action="{{ path_for('post.createPost') }}"
            {% endif %}
        >
            <div class="row">

                <div class="col-md-12" style="display: flex; justify-content: center;">

                    <div class="form col-md-12" style="display: flex; justify-content: center; flex-wrap: wrap;">

                        <div class="col-md-9">
<div class="row">
<label for="title-input">Заголовок</label>
<input id="title-input" type="text" class="form-control" name="post[title]" value="{{ post.title }}">
</div>

<div class="row">
<label for="body-input">Текст</label>
<textarea style="display: none;" id="body-input" name="post[body]" cols="30" rows="10" class="form-control">{{post.body }}</textarea>
</div>

<div class="row" >
<label style="display: inline-block; width: 120px;" for="is_private-input">Приватный</label>
<input type="hidden" name="post[is_private]" value="0">
<input {% if post.is_private %} checked {% endif %} id="is_private-input" type="checkbox" class="checkbox checkbox-custom" name="post[is_private]" value="1">
</div>

<div class="row" >
<label style="display: inline-block; width: 120px;" for="is_published-input">Опубликован</label>
<input type="hidden" name="post[is_published]" value="0">
<input {% if post.is_published %} checked {% endif %} id="is_published-input" class="checkbox checkbox-custom" type="checkbox" name="post[is_published]" value="1">
</div>

<div class="row">
<label for="category_id-input">Категория</label>
<select class="form-control" id="category_id-input" name="post[category_id]">
    <option selected disabled>Выберите категорию</option>
    {% for category in categories %}
        <option {% if post.category_id == category.id %} selected {% endif %} value="{{ category.id }}">{{ category.title }}</option>
    {% endfor %}
</select>
</div>

<div class="row">
    <label for="tag-input">Теги</label>
    <select id="tag-input" name="tags[]" multiple>
        {% for tag in tags %}
            <option {% for postTag in post.tags %} {% if postTag.id == tag.id %} selected {% endif %} {% endfor %} value="{{ tag.id }}">{{ tag.title }}</option>
        {% endfor %}
    </select>
</div>


                </div>

                <div class="col-md-3">
                    <div class="row">
                        <label for="description-input">Meta Description</label>
                        <textarea id="description-input" name="post[meta_description]" cols="30" rows="3" class="form-control">{{post.meta_description }}</textarea>
                    </div>
                    <div class="row">
                        <label for="description-input">Meta Title</label>
                        <textarea id="description-input" name="post[meta_title]" cols="30" rows="3" class="form-control">{{post.meta_title }}</textarea>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="row" style="margin-top: 15px; display: flex; justify-content: center;">
        <div class="col-md-4" style="text-align: center;">
            <button class="blue-button inline" type="submit">Сохранить</button>
        </div>

        {% if post.id %}
        <div class="col-md-4" style="text-align: center;">
            <button id="delete-user" class="red-button inline" type="button">Удалить пост</button>
        </div>
        {% endif %}
    </div>

    </form>

    <form id="frm-del-user" action="{{ path_for('post.deletePost', {'id': post.id}) }}" method="get">
    </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/theme-ambiance.js"></script>
<script type="text/javascript">

    $(function() {
        let $select = $('#tag-input').selectize({
            maxItems: null,
            create: function (input, callback) {
                $.ajax({
                    url: "/api/tags",
                    type: "POST",
                    data: {title: input},
                    success: function (data) {
                        callback({value: data, text: input});
                    }
                });
            }
        });

        $('#delete-user').click(function() {
            if (confirm('Удалить?')) {
                $('#frm-del-user').submit();
            }
        });

        $('#body-input').markdownEditor({
            preview: true,
            theme: 'ambiance',
            onPreview: function (content, callback) {
                callback( marked(content) );
            }
        });
    });

    $(function() {
        var getFlatpickr = function() {
            return $('.flatpickr').flatpickr({
                locale: "ru",
                altFormat: 'j F Y',
                altInput: true
            });
        }

        var flatpickr = getFlatpickr();

        $('#mcm').on('shown.bs.modal', function () {
            var date = $('.flatpickr').val();
            flatpickr.destroy();
            flatpickr = getFlatpickr();
            flatpickr.setDate(date);
        });
    });
</script>
{% endblock %}