<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>{% block title %}{% endblock %}</title>
    <!-- JQuery-->
    <script src="/assets/admin/js/jquery.js"></script>
    <!-- Bootstrap 3.3.7-->
    <link rel="stylesheet" href="/assets/admin/css/bootstrap.min.css">
    <script src="/assets/admin/js/bootstrap.min.js"></script>
    <script src="/assets/admin/js/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <link href="/assets/admin/css/bootstrap-markdown-editor.css">
    <script src="/assets/admin/js/bootstrap-markdown-editor.js"></script>

    <!-- Optional theme -->
    <script src="/assets/admin/js/selectize.min.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/selectize.default.css">
    <script src="https://use.fontawesome.com/1a39ff6e4c.js"></script>
    <script src="/assets/admin/js/custom.js"></script>
    {#flatpickr#}
    <script src="/assets/admin/js/flatpickr.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/flatpickr.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    {#Vue CDN#}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    {#Jquery Mask#}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <script src="/assets/admin/js/jquery.mask.min.js"></script>

    {#Jquery Nestable#}
    <script src="/assets/admin/js/jquery.nestable.js"></script>
    <link rel="stylesheet" href="/assets/public/css/custom.css">

</head>
<style>
    .tag {
        font-size: 1.1em;
        margin: 2px;
    }
    .tag::before {
        content: ' #';
    }
    .tag:hover {
        text-decoration: none;
    }
</style>
<body>
<section id="top-line">
    <div class="container">
        <div class="row">
            <div class="col-md-2 hidden-xs text-center" style="">
                <a href="/"> <img src="//wtolk.ru/logo.png"> </a>
                <h5>База знаний</h5>
            </div>
            <div class="col-md-9" style="display: flex; align-items: center; flex-wrap: wrap; margin-top: 10px;">
                <div class="col-md-9 col-xs-9 col-md-offset-1">
                    <form class="form-group col-md-12" style="padding-left: 0; margin-bottom: 5px; display: flex; align-items: center; flex-wrap: wrap;" method="get" action="/posts">
                        <div class="col-md-10 col-xs-9">
                            <input class="form-control" type="text" name="filter" value="{{ filter }}">
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <input class="btn btn-success" type="submit" value="Найти">
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 text-right main-nav">
                    <ul class="menu">
                        <li class="first leaf"><a href="/" title="">Главная</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="post-page" class="padding-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3" id="sidebar">
                <div class="block categories">
                    <div class="block-title">Категории</div>
                    <div class="block-content">
                        <ul>
                            {% for category in getCategories() %}
                                <li>
                                    <a href="/category/{{ category.id }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="block tags">
                    <div class="block-title">Теги</div>
                    <div class="block-content">
                        <ul>
                            {% for tag in getTags() %}
                                <li>
                                    <a href="/tag/{{ tag.id }}">{{ tag.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            {% block content %}

            {% endblock %}

        </div>
    </div>


</section>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <!-- <img width="170px" src="/assets/static/logow.png"> -->
                <div class="wtolk"> Сделано с <a href="http://wtolk.ru"><span style="color: #ff6600;">Веб</span>толком</a> </div>
            </div>

        </div>
    </div>
</section>

<script src="/assets/js/custom.js"> </script>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38544730 = new Ya.Metrika({ id:38544730, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/38544730" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

{% block script %}
    <script>
        $(function () {
            let $select = $('#select-tags').selectize({
                maxItems: null,
                placeholder: 'Выберите тег:',
                create: false
            });
        });
    </script>
{% endblock %}
</body>
</html>