{% extends "admin/layout/layout.twig" %}

{% block title %}  {% endblock %}

{% block content %}
    <style type="text/css">
        i.fa.fa-edit {
            margin-top: 2px;
            font-size: 150%;
        }

        /**
         * Nestable
         */

        .dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

        .dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
        .dd-list .dd-list { padding-left: 30px; }

        .dd-item,
        .dd-empty,
        .dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

        .dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:         linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box; -moz-box-sizing: border-box;
        }
        .dd-handle:hover { color: #2ea8e5; background: #fff; }

        .dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
        .dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
        .dd-item > button[data-action="collapse"]:before { content: '-'; }

        .dd-placeholder,
        .dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
        .dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
            background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
            linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-size: 60px 60px;
            background-position: 0 0, 30px 30px;
        }

        .dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
        .dd-dragel > .dd-item .dd-handle { margin-top: 0; }
        .dd-dragel .dd-handle {
            -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
        }

        /**
         * Nestable Extras
         */

        .nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

        #nestable-output,
        #nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

        #nestable2 .dd-handle {
            color: #fff;
            border: 1px solid #999;
            background: #bbb;
            background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
            background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
            background:         linear-gradient(top, #bbb 0%, #999 100%);
        }
        #nestable2 .dd-handle:hover { background: #bbb; }
        #nestable2 .dd-item > button:before { color: #fff; }

        .dd-hover > .dd-handle { background: #2ea8e5 !important; }

        /**
         * Nestable Draggable Handles
         */

        .dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:         linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box; -moz-box-sizing: border-box;
        }
        .dd3-content:hover { color: #2ea8e5; background: #fff; }

        .dd-dragel > .dd3-item > .dd3-content { margin: 0; }

        .dd3-item > button { margin-left: 30px; }

        .dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
            border: 1px solid #aaa;
            background: #ddd;
            background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
            background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
            background:         linear-gradient(top, #ddd 0%, #bbb 100%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
        .dd3-handle:hover { background: #ddd; }

        /**
         * Socialite
         */

        .socialite { display: block; float: left; height: 35px; }

    </style>

    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">{{ menu.title }} меню</h1>
                    <a href="{{ path_for('navigation.showAdminNavigationItemAdd', {'id': menu.id}) }}">Создать пункт</a>
                    <hr class="aky">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                    {% for index,item in items %}
                                        <li class="dd-item dd3-item" data-id="{{ item.id }}">
                                            <div class="dd-content dd3-content">
                                                <a class="" href="{{ path_for('navigation.showAdminNavigationItemEdit', {'id': menu.id, 'item_id': item.id}) }}">{{ item.title }}</a>
                                            </div>
                                            <div class="dd-handle dd3-handle "></div>
                                            {% if item.children %}
                                                <ol class="dd-list">
                                                    {% for sub_item in item.children %}
                                                        {% if sub_item.title %}
                                                            <li class="dd-item dd3-item" data-id="{{ sub_item.id }}">
                                                                <div class="dd3-content dd3-content ">
                                                                    <a href="{{ path_for('navigation.showAdminNavigationItemEdit', {'id': menu.id, 'item_id': sub_item.id}) }}">{{ sub_item.title }}</a>
                                                                </div>
                                                                <div class="dd-handle dd3-handle"></div>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-3">
                            <button id="save_items" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>


    </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}

    <script type="text/javascript">


        $('.fa-edit').click(function () {
            console.log(123);
        });

        $(document).on('click', '.dd-handle', function () {
            var id = $(this).closest('tr.role-row').data('role-id');
            $.ajax({
                url: '/api/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function (resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);

                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    if (permissions) {
                        $.each($('.permission input[type="checkbox"]'), function () {
                            var name = $(this).attr('name');

                            if (typeof permissions[name] != undefined && permissions[name]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function (resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function () {
            $('#add-menu-item').click(function () {
                $('#form-role')[0].reset();
                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#settings').show();
                $('#form-role').find('input[name="id"]').val(null);
            });
        });

        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#nestable').nestable({
                maxDepth: 2,
                group: 1,
                collapseBtnHTML: '',
                expandBtnHTML: ''
            })
                .on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));

            $('#save_items').click(function () {

                var json = $('.dd').nestable('serialize');
                $.ajax({
                    url: '{{ path_for('navigation.saveNavigationItems') }}',
                    method: 'post',
                    data: {'items': json},
                    success: function (resp) {
                        resp = JSON.parse(resp);
                        console.log(resp);
                    }
                })
            });
        });
        // $('.dd').nestable({  maxDepth: 2, });
    </script>
    {#<script src="/public/assets/admin/admin.js"></script>#}
{% endblock %}
