{% extends "admin/layout/layout.twig" %}

{% block title %}  {% endblock %}

{% block content %}
    <style type="text/css">
        .permission > li > ul {
            margin-left: 10px;
        }

        i.fa.fa-edit {
            margin-top: 2px;
            font-size: 150%;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
        }

        input {
            margin-bottom: 4px
        }

    </style>

    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">{{ menu.title }} меню </h1>
                    <hr class="aky">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <form action="{% if item %}{{ path_for('navigation.updateNavigationItem', {'id': menu.id, 'item_id':item.id}) }}{% else %}{{ path_for('navigation.createNavigationItem', {'id': menu.id}) }}{% endif %}" method="post">
                            <div class="col-md-4">

                                <div class="row">
                                    <h2 class="col-md-12">Пункт меню</h2>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Название" class="form-control" name="item[title]" value="{{ item.title }}">
                                    </div>

                                    <div class="col-md-12">
                                        <input type="text" placeholder="Путь" class="form-control" name="item[path]" value="{{ item.path }}">
                                    </div>

                                    <div class="col-md-4">
                                        <button id="save_item" type="submit" class="btn btn-success">Сохранить</button>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="{{ path_for('navigation.deleteNavigationItem', {'id': menu.id, 'item_id': item.id }) }}" id="delete_item" class="btn btn-danger">Удалить</a>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                    <h2 class="col-md-12">Права доступа</h2>
                                </div>

                                <div class="col-md-4">
                                    <ul class="permission list-unstyled">

                                        <li>Пользователи</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="user_view" value="false">
                                                    <input id="user_view" type="checkbox" name="user_view" value="true">
                                                    <label class="noselect" for="user_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="user_create" value="false">
                                                    <input id="user_create" type="checkbox" name="user_create"
                                                           value="true">
                                                    <label class="noselect" for="user_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="user_update" value="false">
                                                    <input id="user_update" type="checkbox" name="user_update"
                                                           value="true">
                                                    <label class="noselect" for="user_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="user_delete" value="false">
                                                    <input id="user_delete" type="checkbox" name="user_delete"
                                                           value="true">
                                                    <label class="noselect" for="user_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Филиалы</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="filials_view" value="false">
                                                    <input id="filials_view" type="checkbox" name="filials_view"
                                                           value="true">
                                                    <label class="noselect" for="filials_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="filials_create" value="false">
                                                    <input id="filials_create" type="checkbox" name="filials_create"
                                                           value="true">
                                                    <label class="noselect" for="filials_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="filials_update" value="false">
                                                    <input id="filials_update" type="checkbox" name="filials_update"
                                                           value="true">
                                                    <label class="noselect" for="filials_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="filials_delete" value="false">
                                                    <input id="filials_delete" type="checkbox" name="filials_delete"
                                                           value="true">
                                                    <label class="noselect" for="filials_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Программы</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="programms_view" value="false">
                                                    <input id="programms_view" type="checkbox" name="programms_view"
                                                           value="true">
                                                    <label class="noselect" for="programms_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="programms_create" value="false">
                                                    <input id="programms_create" type="checkbox" name="programms_create"
                                                           value="true">
                                                    <label class="noselect" for="programms_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="programms_update" value="false">
                                                    <input id="programms_update" type="checkbox" name="programms_update"
                                                           value="true">
                                                    <label class="noselect" for="programms_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="programms_delete" value="false">
                                                    <input id="programms_delete" type="checkbox" name="programms_delete"
                                                           value="true">
                                                    <label class="noselect" for="programms_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <ul class="permission list-unstyled">

                                        <li>Типы цен</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="price-types_view" value="false">
                                                    <input id="price-types_view" type="checkbox" name="price-types_view"
                                                           value="true">
                                                    <label class="noselect" for="price-types_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="price-types_create" value="false">
                                                    <input id="price-types_create" type="checkbox"
                                                           name="price-types_create" value="true">
                                                    <label class="noselect" for="price-types_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="price-types_update" value="false">
                                                    <input id="price-types_update" type="checkbox"
                                                           name="price-types_update" value="true">
                                                    <label class="noselect" for="price-types_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="price-types_delete" value="false">
                                                    <input id="price-types_delete" type="checkbox"
                                                           name="price-types_delete" value="true">
                                                    <label class="noselect" for="price-types_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Права</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="roles_view" value="false">
                                                    <input id="roles_view" type="checkbox" name="roles_view"
                                                           value="true">
                                                    <label class="noselect" for="roles_view">Просмотр/Изменение</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Отчеты</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="reports_view" value="false">
                                                    <input id="reports_view" type="checkbox" name="reports_view"
                                                           value="true">
                                                    <label class="noselect" for="reports_view">Просмотр</label>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <ul class="permission list-unstyled">

                                        <li>Блюда</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="produce_view" value="false">
                                                    <input id="produce_view" type="checkbox" name="produce_view"
                                                           value="true">
                                                    <label class="noselect" for="produce_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="produce_create" value="false">
                                                    <input id="produce_create" type="checkbox" name="produce_create"
                                                           value="true">
                                                    <label class="noselect" for="produce_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="produce_update" value="false">
                                                    <input id="produce_update" type="checkbox" name="produce_update"
                                                           value="true">
                                                    <label class="noselect" for="produce_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="produce_delete" value="false">
                                                    <input id="produce_delete" type="checkbox" name="produce_delete"
                                                           value="true">
                                                    <label class="noselect" for="produce_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Меню</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="menu_view" value="false">
                                                    <input id="menu_view" type="checkbox" name="menu_view" value="true">
                                                    <label class="noselect" for="menu_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="menu_create" value="false">
                                                    <input id="menu_create" type="checkbox" name="menu_create"
                                                           value="true">
                                                    <label class="noselect" for="menu_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="menu_update" value="false">
                                                    <input id="menu_update" type="checkbox" name="menu_update"
                                                           value="true">
                                                    <label class="noselect" for="menu_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="menu_delete" value="false">
                                                    <input id="menu_delete" type="checkbox" name="menu_delete"
                                                           value="true">
                                                    <label class="noselect" for="menu_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Заказы</li>
                                        <li>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="hidden" name="orders_view" value="false">
                                                    <input id="orders_view" type="checkbox" name="orders_view"
                                                           value="true">
                                                    <label class="noselect" for="orders_view">Просмотр</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="orders_create" value="false">
                                                    <input id="orders_create" type="checkbox" name="orders_create"
                                                           value="true">
                                                    <label class="noselect" for="orders_create">Создание</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="orders_update" value="false">
                                                    <input id="orders_update" type="checkbox" name="orders_update"
                                                           value="true">
                                                    <label class="noselect" for="orders_update">Обновление</label>
                                                </li>
                                                <li>
                                                    <input type="hidden" name="orders_delete" value="false">
                                                    <input id="orders_delete" type="checkbox" name="orders_delete"
                                                           value="true">
                                                    <label class="noselect" for="orders_delete">Удаление</label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </div>

    </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}

    <script type="text/javascript">
        {% if item %}
        $(function () {
            var id = {{ item.id }}
            $.ajax({
                url: '{{ path_for('navigation.getItemPermissions') }}',
                type: 'POST',
                data: {id: id, menu_id: {{ menu.id}}},
                success: function (resp) {
                    var item = JSON.parse(resp);
                    var permissions = JSON.parse(item.permissions);
                    $('input[name="id"]').val(item.id);

                    if (permissions) {
                        $.each($('.permission li ul li input[type="checkbox"]'), function () {
                            var name = $(this).attr('name');
                            if (permissions[name]==="true") {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function (resp) {
                    console.log(resp.responseText);
                }
            })
        });
        {% endif %}

    </script>
{% endblock %}
