<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>{% block title %}{% endblock %}</title>
    <!-- JQuery-->
    <script src="/assets/admin/js/jquery.js"></script>
    <!-- Bootstrap 3.3.7-->
    <link rel="stylesheet" href="/assets/admin/css/bootstrap.min.css">
    <script src="/assets/admin/js/bootstrap.min.js"></script>
    <!--<script src="/assets/admin/js/jquery-textrange.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/jquery-smde.css">
    <script src="/assets/admin/js/jquery-smde.js"></script>-->
    <script src="/assets/admin/js/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <link href="/assets/admin/css/bootstrap-markdown-editor.css">
    <script src="/assets/admin/js/bootstrap-markdown-editor.js"></script>


    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/admin/css/custom.css">
    <script src="/assets/admin/js/selectize.min.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/selectize.default.css">
    <script src="https://use.fontawesome.com/1a39ff6e4c.js"></script>
    <script src="/assets/admin/js/custom.js"></script>
    {#flatpickr#}
    <script src="/assets/admin/js/flatpickr.js"></script>
    <link rel="stylesheet" href="/assets/admin/css/flatpickr.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    {#Vue CDN#}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    {#Jquery Mask#}
    <script src="/assets/admin/js/jquery.mask.min.js"></script>

    {#Jquery Nestable#}
    <script src="/assets/admin/js/jquery.nestable.js"></script>

</head>
<body>
<style>
    .active-link{
        background-color: rgba(72, 72, 85, .5);
    }
</style>
<aside><img id="sidebg" src="/assets/admin/wallpaper.jpg">
    <h4>SKELETON</h4>
    <hr>
    <div class="side-menu">
        {% set i = 0 %}
        {% for item in getNavigation(1) %}
            <a href="{{ path_for(item.path) }}" class="{{ item.class }}"> <i class="fa fa-file-text-o " aria-hidden="true"></i> {{ item.title }}</a>

            {% if item.children %}
                {% for sub_item in item.children %}
                    <a style="margin-left: 30px" href="{{ path_for(sub_item.path) }}" class="{{ sub_item.class }}"> <i class="fa fa-file-text-o " aria-hidden="true"></i> {{ sub_item.title }}</a>
                {% endfor %}
            {% endif %}

            {% set i = i+1 %}
            {% if i == 3 %}
                <hr class="delimeter">
                {% set i = 0 %}
            {% endif %}
        {% endfor %}
    </div>
</aside>
<div class="main-page">
    {% block content %}

    {% endblock %}

</div>
<!-- /#wrapper -->
{% block script %}
{% endblock %}
</body>
</html>