{% extends "admin/layout/layout.twig" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Пользователи </h1>
                    <div class="inline"> <a href="/admin/users/add"> + новый пользователь </a></div> /
                    <div class="inline"> <a href="/admin/roles"> роли </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                        <tr>
                            <th>Email (логин)</th>
                            <th>Инициалы</th>
                            <th>Роль</th>
                            <th>Дата добавления</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr onclick="document.location = '{{ path_for('user.showAdminUserEdit', {'id':user.id}) }}';">
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <th>{{user.role|first.name}}</th>
                                <td>{{ user.created_at|date("Y - m - d") }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}