{% extends "admin/layout/layout.twig" %}

{% block title %}  {% endblock %}

{% block content %}
    <style type="text/css">
        ul li {
            list-style: none;
        }

        ul {
            padding-left: 20px;
            padding-bottom: 7px;
        }
        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }
    </style>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Роли </h1>
                    <div class="inline"> <a href="/admin/users">все пользователи</a> </div>
                    <hr class="aky">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <table class="table table-striped table-role">
                        <thead>
                        <tr>
                            <th>Роль <a id="add-role" style="float: right;"> + добавить</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr data-role-id="{{role.id}}" class="role-row">
                                <td><a class="role-href">{{role.name}}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-8">
                    <form id="form-role" action="/api/roles/create" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="role_name">Название</label>
                                <input id="role_name" type="text" class="form-login" name="name" placeholder="Название роли" required>
                            </div>

                            <div class="col-md-3">
                                <label for="slug">Псевдоним (англ.)</label>
                                <input id="slug" type="text" class="form-login" name="slug" placeholder="Псевдоним роли" required>
                            </div>

                            <div class="col-md-3" style="margin-top: 8px">
                                <button type="submit" class="blue-button inline">Добавить</button>
                            </div>

                            <input type="hidden" name="id">
                        </div>

                        <div class="row">

                        </div>

                        <div class="row">
                            <h3>Права доступа</h3>
                            <div class="col-md-4">
                                <ul class="permission">

                                    <li>Пользователи</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="user_view" value="false">
                                                <input id="user_view" type="checkbox" name="user_view" value="true">
                                                <label class="noselect" for="user_view">Просмотр</label>
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_create" value="false">
                                                <input id="user_create" type="checkbox" name="user_create" value="true">
                                                <label class="noselect" for="user_create">Создание</label>
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_update" value="false">
                                                <input id="user_update" type="checkbox" name="user_update" value="true">
                                                <label class="noselect" for="user_update">Обновление</label>
                                            </li>
                                            <li>
                                                <input type="hidden" name="user_delete" value="false">
                                                <input id="user_delete" type="checkbox" name="user_delete" value="true">
                                                <label class="noselect" for="user_delete">Удаление</label>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="permission">

                                    <li>Права</li>
                                    <li>
                                        <ul>
                                            <li>
                                                <input type="hidden" name="roles_view" value="false">
                                                <input id="roles_view" type="checkbox" name="roles_view" value="true">
                                                <label class="noselect" for="roles_view">Просмотр/Изменение</label>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="permission">

                                
<li>Post</li>
<li>
    <ul>
        <li>
            <input type="hidden" name="posts_view" value="false">
            <input id="posts_view" type="checkbox" name="posts_view" value="true">
            <label class="noselect" for="posts_view">Просмотр</label>
        </li>
        <li>
            <input type="hidden" name="posts_create" value="false">
            <input id="posts_create" type="checkbox" name="posts_create" value="true">
            <label class="noselect" for="posts_create">Создание</label>
        </li>
        <li>
            <input type="hidden" name="posts_update" value="false">
            <input id="posts_update" type="checkbox" name="posts_update" value="true">
            <label class="noselect" for="posts_update">Обновление</label>
        </li>
        <li>
            <input type="hidden" name="posts_delete" value="false">
            <input id="posts_delete" type="checkbox" name="posts_delete" value="true">
            <label class="noselect" for="posts_delete">Удаление</label>
        </li>
    </ul>
</li>
<li>Category</li>
<li>
    <ul>
        <li>
            <input type="hidden" name="categorys_view" value="false">
            <input id="categorys_view" type="checkbox" name="categorys_view" value="true">
            <label class="noselect" for="categorys_view">Просмотр</label>
        </li>
        <li>
            <input type="hidden" name="categorys_create" value="false">
            <input id="categorys_create" type="checkbox" name="categorys_create" value="true">
            <label class="noselect" for="categorys_create">Создание</label>
        </li>
        <li>
            <input type="hidden" name="categorys_update" value="false">
            <input id="categorys_update" type="checkbox" name="categorys_update" value="true">
            <label class="noselect" for="categorys_update">Обновление</label>
        </li>
        <li>
            <input type="hidden" name="categorys_delete" value="false">
            <input id="categorys_delete" type="checkbox" name="categorys_delete" value="true">
            <label class="noselect" for="categorys_delete">Удаление</label>
        </li>
    </ul>
</li>{#POINTER#}

                                </ul>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).on('click', '.role-href', function(){
            var id = $(this).closest('tr.role-row').data('role-id');
            $.ajax({
                url: '/api/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function(resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);

                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    if (permissions) {
                        $.each($('.permission input[type="checkbox"]'), function() {
                            var name = $(this).attr('name');

                            if (typeof permissions[name] != undefined && permissions[name]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function(resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function() {
            $('#add-role').click(function() {
                $('#form-role')[0].reset();
                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#form-role').find('input[name="id"]').val(null);
            });
        });
    </script>
    {#<script src="/public/assets/admin/admin.js"></script>#}
{% endblock %}