{% extends "admin/layout/layout.twig" %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Пользователь </h1>
                    <div class="inline"> <a href="/admin/users">все пользователи</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    enctype="multipart/form-data"
                    {% if user.id %}
                        action="/api/users/{{ user.id }}"
                    {% else %}
                        action="/api/users"
                    {% endif %}
            >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form col-md-12">
                            <div class="row" style="display: flex; flex-wrap: wrap; align-items: center;">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email </label>
                                            <input type="text" class="form-login" name="email" placeholder="Email" value="{{ user.email }}" required>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Пароль </label>
                                            <input type="text" class="form-login" data-table="drivers" name="password" placeholder="Укажите новый пароль если нужно" {% if not user.id %} required {% endif %}>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Имя </label>
                                            <input type="text" class="form-login" name="first_name" placeholder="Имя" value="{{ user.first_name }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Фамилия</label>
                                            <input type="text" name="last_name" placeholder="Фамилия" value="{{ user.last_name }}">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Роль</label>
                                            <select name="role" class="chosen-select">
                                                {% for role in roles %}
                                                    {% if role.id == user.role.id %}
                                                        <option value="{{role.slug}}" selected>{{role.name}}</option>
                                                    {% else %}
                                                        <option value="{{role.slug}}">{{role.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="photo">Аватар</label>
                                    <img style="max-width: 100%; height: auto; margin: 10px;" src="{{ user.photo.path }}">
                                    <input id="photo" type="file" name="photo">
                                </div>
                            </div>
                            <div class="row" style="margin: 20px; display: flex; justify-content: space-around; flex-wrap: wrap;">
                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {% if user.id and user.id != session.user.id %}
                                <button id="delete-user" class="red-button" type="button">Удалить пользователя</button>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <form id="frm-del-user" action="/api/users/{{ user.id }}/delete" method="post">
            </form>

        </div>
    </div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function() {
        $('#delete-user').click(function() {
            if (confirm('Удалить пользователя {{user.email}}?')) {
                $('#frm-del-user').submit();
            }
        });
    });
</script>
{% endblock %}