<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> #}
    <link rel="stylesheet" href="/views/slate/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/custom.css">


    <link rel="stylesheet" href="/views/slate/my.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/fileUploader.css" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
    <script src="/views/fileUploader.min.js"></script>
    <script src="/views/slate/jquery.binding.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <style>

        body {
            padding: 0px;
        }

        #login-form {
            background-color: #ffffff;
            margin: 100px auto;
            width: 420px;
            padding: 20px 30px 30px 30px;
            border-radius: 3px;
            -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
            display: block;
            overflow: hidden;
        }
        #login-form .form-login {
            width: 100%;
            height: 50px;
            display: block;
            margin: 16px 0;
            border-radius: 3px;
            border: 1px solid #CCCCCC;
            font-size: 18px;
            padding: 8px 0 8px 10px;
        }

        .checkbox {
            width: 15px;
            height: 15px;
        }

        #login-form button, #login-form .register {
            border-radius: 3px;
            background: #165f9f;
            color: #ffffff;
            padding: 0px 20px;
            border: 0;
            font: bold 18px;
            cursor: pointer;
            height: 35px;
            margin-top: 10px;
        }

        h3 {
            text-align: center;
            margin-top: 0px;
        }
    </style>

</head>

<body>

<div id="login-form">
    <form method="post" autocomplete="off" name="login_form" action="/api/login">
        {% for message in messages %}
            {{ message.0 }}<br>
        {% endfor %}
        <input type="text" class="form-login" name="login" placeholder="Ваш Логин" required>
        <input type="password" class="form-login" name="password" placeholder="Ваш пароль" required>
        {#<lable style="float: left; margin-right: 5px;">Запомнить меня</lable> <input type="checkbox" class="checkbox" name="remember">#}

        <button type="submit">Войти</button>

    </form>
</div>
</body>